* {
/*    box-sizing: border-box;*/
}
.App {
/*  text-align: center;*/
}

#title {
    text-align: center;
    color: white;
    background: linear-gradient(to right, white, #28a745, #28a745, white);
}

.avatar {
    padding: 2px;
    width: 150px;

}
.avatar > img {
  width: 100%;
  cursor: pointer;
}
.repoName {
    
}

.repoDesc {
    
}

.starsBox {
    color: white;
    background: #28a745;
    border-left: 5px solid black;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.issuesBox {
    color: white;
    background: #dc3545;
    display: inline-block;
    border-left: 5px solid black;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.submitted {

    display: inline-block;
}

div {
/*    border: 1px solid black;*/
    padding: 0 5px;
    margin: 5px;
}
.repo {
   padding: 0;
   display: flex;
   justify-content: flex-start;
   flex-flow: nowrap;
   border-bottom: 1px solid black;
}

.avatarDiv {
    display: inline-block;
    padding: 0;
    disply: flex;
    justify-content: center;
    align-items: center;
}
.innerContainer {
    display: inline-block;
    padding: 0;
}

#button {
    text-align: center;
}

#button > button {
    padding:5px 20px;
    
}

@media screen and (max-width: 777px) {
  body {
    text-align: center;
  }
    .submitted {
        display: block;
    }
    
    .repoName {
    line-height: 0.5px;
    }

    .repo {
        justify-content: center;
        flex-flow: wrap;
    }
    .innerContainer {
        flex-grow: 1;
        width: 100%;
    }
    .avatarDiv {
        display: block;
    }
    div {
        margin-bottom:0;
    }
}