div {
    padding: 0 5px;
    margin: 5px;
}
.avatar {
    padding: 2px;
    width: 150px;

}
.avatar > img {
  width: 100%;
  cursor: pointer;
}

.starsBox {
    color: white;
    background: #28a745;
    border-left: 5px solid black;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.issuesBox {
    color: white;
    background: #dc3545;
    display: inline-block;
    border-left: 5px solid black;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.submitted {

    display: inline-block;
}
.repoContainer {
   padding: 0;
   display: flex;
   justify-content: flex-start;
   flex-flow: nowrap;
   border-bottom: 1px solid black;
}

.avatarDiv {
    display: inline-block;
    padding: 0;
    disply: flex;
    justify-content: center;
    align-items: center;
}
.infoContainer {
    display: inline-block;
    padding: 0;
}

@media screen and (max-width: 777px) {
  body {
    text-align: center;
  }
    .submitted {
        display: block;
    }
    
    .repoName {
    line-height: 0.5px;
    }

    .repoContainer {
        justify-content: center;
        flex-flow: wrap;
    }
    .infoContainer {
        flex-grow: 1;
        width: 100%;
    }
    .avatarDiv {
        display: block;
    }
    div {
        margin-bottom:0;
    }
}
